In [ ]:
!pip install plotly

In [4]:
# Machine learning
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
  
# For data manipulation
import pandas as pd
import numpy as np
  
# To plot
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')
  
# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [5]:
data = pd.read_csv('GOOGL.csv')
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,50.050049,52.082081,48.028027,50.220219,50.220219,44659096
1,2004-08-20,50.555557,54.594597,50.300301,54.209209,54.209209,22834343
2,2004-08-23,55.430431,56.796799,54.579578,54.754753,54.754753,18256126
3,2004-08-24,55.675674,55.855858,51.836838,52.487488,52.487488,15247337
4,2004-08-25,52.532532,54.054054,51.991993,53.053055,53.053055,9188602
...,...,...,...,...,...,...,...
4382,2022-01-13,2830.800049,2857.000000,2768.179932,2771.739990,2771.739990,1571800
4383,2022-01-14,2741.580078,2814.840088,2739.969971,2789.610107,2789.610107,1482100
4384,2022-01-18,2723.500000,2742.629883,2708.770020,2719.959961,2719.959961,1743600
4385,2022-01-19,2730.469971,2759.189941,2700.310059,2702.330078,2702.330078,1432400
4386,2022-01-20,2725.000000,2752.520020,2659.290039,2666.149902,2666.149902,1495400

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4387 entries, 0 to 4386
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4387 non-null   object
 1   Open       4387 non-null   float64
 2   High       4387 non-null   float64
 3   Low        4387 non-null   float64
 4   Close      4387 non-null   float64
 5   Adj Close  4387 non-null   float64
 6   Volume     4387 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 240.0+ KB

In [7]:
data.index = pd.to_datetime(data['Date'])
data = data.drop(['Date'], axis='columns')
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-08-19,50.050049,52.082081,48.028027,50.220219,50.220219,44659096
2004-08-20,50.555557,54.594597,50.300301,54.209209,54.209209,22834343
2004-08-23,55.430431,56.796799,54.579578,54.754753,54.754753,18256126
2004-08-24,55.675674,55.855858,51.836838,52.487488,52.487488,15247337
2004-08-25,52.532532,54.054054,51.991993,53.053055,53.053055,9188602
...,...,...,...,...,...,...
2022-01-13,2830.800049,2857.000000,2768.179932,2771.739990,2771.739990,1571800
2022-01-14,2741.580078,2814.840088,2739.969971,2789.610107,2789.610107,1482100
2022-01-18,2723.500000,2742.629883,2708.770020,2719.959961,2719.959961,1743600
2022-01-19,2730.469971,2759.189941,2700.310059,2702.330078,2702.330078,1432400
2022-01-20,2725.000000,2752.520020,2659.290039,2666.149902,2666.149902,1495400

La X consiste en variables como 'Abrir – Cerrar' y 'Alto – Bajo'. Estos pueden entenderse como indicadores en base a los cuales el algoritmo predecirá la tendencia del mañana.

In [8]:
# Create predictor variables
data['Open-Close'] = data.Open - data.Close
data['High-Low'] = data.High - data.Low
data

,Open,High,Low,Close,Adj Close,Volume,Open-Close,High-Low
Date,,,,,,,,
2004-08-19,50.050049,52.082081,48.028027,50.220219,50.220219,44659096,-0.170170,4.054054
2004-08-20,50.555557,54.594597,50.300301,54.209209,54.209209,22834343,-3.653652,4.294296
2004-08-23,55.430431,56.796799,54.579578,54.754753,54.754753,18256126,0.675678,2.217221
2004-08-24,55.675674,55.855858,51.836838,52.487488,52.487488,15247337,3.188186,4.019020
2004-08-25,52.532532,54.054054,51.991993,53.053055,53.053055,9188602,-0.520523,2.062061
...,...,...,...,...,...,...,...,...
2022-01-13,2830.800049,2857.000000,2768.179932,2771.739990,2771.739990,1571800,59.060059,88.820068
2022-01-14,2741.580078,2814.840088,2739.969971,2789.610107,2789.610107,1482100,-48.030029,74.870117
2022-01-18,2723.500000,2742.629883,2708.770020,2719.959961,2719.959961,1743600,3.540039,33.859863
2022-01-19,2730.469971,2759.189941,2700.310059,2702.330078,2702.330078,1432400,28.139893,58.879882
2022-01-20,2725.000000,2752.520020,2659.290039,2666.149902,2666.149902,1495400,58.850098,93.229981

In [9]:
# Store all predictor variables in a variable X
X = data[['Open-Close', 'High-Low']]
X.head()

            Open-Close  High-Low
Date
2004-08-19   -0.170170  4.054054
2004-08-20   -3.653652  4.294296
2004-08-23    0.675678  2.217221
2004-08-24    3.188186  4.019020
2004-08-25   -0.520523  2.062061

Y es un conjunto de datos objetivo que almacena la señal comercial correcta que el algoritmo de aprendizaje automático intentará predecir.
Si el precio de mañana es mayor que el precio de hoy, entonces compraremos la acción en particular, de lo contrario no tendremos posición en el. Almacenaremos +1 para una señal de compra y 0 para una posición de no en y

In [10]:
y = np.where(data['Close'].shift(-1) > data['Close'], 1, 0)
y

array([1, 1, 0, ..., 0, 0, 0])

Dividiremos los datos en conjuntos de datos de entrenamiento y prueba.

In [11]:
split_percentage = 0.8
split = int(split_percentage*len(data))
  
# Train data set
X_train = X[:split]
y_train = y[:split]
  
# Test data set
X_test = X[split:]
y_test = y[split:]

## MODELO DE CLÁSIFICADOR DE VECTORES DE SOPORTE (SVC)

Clasificador de vectores de soporte (SVC)

Creación del modelo clasificador utilizando el método fit() en el conjunto de datos de entrenamiento

Usaremos la función SVC() de la biblioteca sklearn.svm.SVC para crear nuestro modelo clasificador usando el método fit() en el conjunto de datos de entrenamiento.

In [12]:
from sklearn import svm
cls = svm.SVC(probability=True).fit(X_train, y_train)

In [13]:
#Predict the response for test dataset
y_pred = cls.predict(X_test)
y_pred

array([1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

## EVALUACIÓN DEL MODELO

In [14]:
# REPORTE DE MÉTRICAS
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.49      0.42      0.45       402
           1       0.57      0.64      0.60       476

    accuracy                           0.54       878
   macro avg       0.53      0.53      0.53       878
weighted avg       0.53      0.54      0.53       878

In [15]:
# MATRIZ DE CONFUSIÓN
from sklearn.metrics import confusion_matrix
import plotly.express as px
confusion_matrix = confusion_matrix(y_test, y_pred).astype(int)
fig = px.imshow(confusion_matrix, text_auto=True)
fig.show()

ModuleNotFoundError: No module named 'plotly'

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
accuracy = metrics.accuracy_score(y_test, y_pred)
precision = metrics.precision_score(y_test, y_pred)
sensivity = metrics.recall_score(y_test, y_pred)
f1_score = metrics.f1_score(y_test, y_pred)

# DATAFRAME DE MÉTRICAS
metrics = {
    'metrics' : ['Exactitud', 'Precisión', 'Sensibilidad','F1-score'],
    'valor': [accuracy, precision, sensivity,f1_score]
}
metrics = pd.DataFrame(metrics)

In [ ]:
# GRÁFICA DE LAS PRINCIPALES MÉTRICAS
import plotly.express as px

fig = px.bar(metrics, x="metrics", y="valor", color="metrics",text_auto=True,title="Métricas del modelo SVM ")
fig.show()

In [ ]:
from sklearn.metrics import roc_curve, auc
# svm
predictions_cls = cls.predict_proba(X_test)
predictions_cls = predictions_cls[:, 1]
cls_fpr, cls_tpr, threshold = roc_curve(y_test, predictions_cls)
auc_cls = auc(cls_fpr, cls_tpr)

plt.figure(figsize=(5, 5), dpi=100)

plt.plot(cls_fpr, cls_tpr, linestyle='-', label='Support Vector Machine (auc = %0.3f)' % auc_cls)

plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')

plt.legend()

plt.show()

## ESTRATEGIA DE LA IMPLEMENTACIÓN

In [ ]:
data['Predicted_Signal'] = cls.predict(X)
data['Predicted_Signal']

In [ ]:
conditionlist = [
    (data['Predicted_Signal'] == 1) ,
    (data['Predicted_Signal'] == 0)]
choicelist = ['Comprar','Vender']
data['Decision'] = np.select(conditionlist, choicelist)
data

Predeciremos la señal (comprar o vender) usando la función cls.predict().

Calcular devoluciones diarias

In [ ]:
# Calculate daily returns
data['Return'] = data.Close.pct_change()
data

Calcular los rendimientos de la estrategia

In [ ]:
data['Strategy_Return'] = data.Return *data.Predicted_Signal.shift(1)
data

Calcular rendimientos acumulativos

In [ ]:
data['Cum_Ret'] = data['Return'].cumsum()
data

Calcular los rendimientos acumulativos de la estrategia

In [ ]:
data['Cum_Strategy'] = data['Strategy_Return'].cumsum()
data

### Retornos de la estrategia de trama vs rendimientos originales

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
  
plt.plot(data['Cum_Ret'],color='red')
plt.plot(data['Cum_Strategy'],color='blue')

## GRÁFICO DE VELAS

In [ ]:
#pip install plotly
import plotly.graph_objects as go
candlestick = go.Candlestick(
                            x=data.index,
                            open=data['Open'],
                            high=data['High'],
                            low=data['Low'],
                            close=data['Close']
                            )

fig = go.Figure(data=[candlestick])

fig.update_layout(
    width=800, height=600,
    title="GOOGLE",
    yaxis_title='Price Stock'
)

fig.show()