In [2]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.neural_network import MLPRegressor

In [3]:
datos=pd.read_csv("../GOOGL.csv")

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4387 entries, 0 to 4386
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4387 non-null   object
 1   Open       4387 non-null   float64
 2   High       4387 non-null   float64
 3   Low        4387 non-null   float64
 4   Close      4387 non-null   float64
 5   Adj Close  4387 non-null   float64
 6   Volume     4387 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 240.0+ KB

In [5]:
datos['Date'] = pd.to_datetime(datos['Date'])
datos['Date']=datos['Date'].map(dt.datetime.toordinal)

In [6]:
datos.head(5)

     Date       Open       High        Low      Close  Adj Close    Volume
0  731812  50.050049  52.082081  48.028027  50.220219  50.220219  44659096
1  731813  50.555557  54.594597  50.300301  54.209209  54.209209  22834343
2  731816  55.430431  56.796799  54.579578  54.754753  54.754753  18256126
3  731817  55.675674  55.855858  51.836838  52.487488  52.487488  15247337
4  731818  52.532532  54.054054  51.991993  53.053055  53.053055   9188602

In [7]:
x=datos["Open"]
y=datos["Close"]

In [8]:
X=x[:,np.newaxis]

<ipython-input-8-f126310730a9>:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  X=x[:,np.newaxis]

In [11]:
apertura = input("Ingrese el Apertura: ")
while True:
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X, y)
    mlr=MLPRegressor (solver='lbfgs' ,alpha=1e-5,hidden_layer_sizes=(3,3),random_state=1)
    mlr.fit(X_train,y_train)
    print(mlr.score(X_train,y_train))
    if mlr.score(X_train,y_train) > 0.95:
        break
print("predicción de cierre:",mlr.predict([[apertura]]))

Ingrese el Apertura: 50
0.9996411530761053
predicción de cierre: [50.31690967]

/home/jose/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)